doctype html
html
    head
        title= title
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        table(border='1')
            thead
                tr
                    th Nom
                    th Prénom
                    th Date de naissance
                    th Sexe
                    th Taille
                    th Poids
                    th Email
            tbody
                each user in data
                    tr
                        td= user.nom
                        td= user.prenom
                        td= user.dateDeNaissance
                        td= user.sexe
                        td= user.taille
                        td= user.poids
                        td= user.email

